<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Index of my Skills</title>
</head>
<body>
	<a href="/skills">&lt; Back</a>
		<h2><%= title %></h2>
	<form action="/skills/<%= skill.id %>?_method=PUT" method="POST">
		<input type="text" name="name" placeholder="new skill" value="<%= skill.name %>">
		<select name="level" value="<%= skill.level %>">
  			<option >locked</option>
  			<option >in progress</option>
  			<option >unlocked</option>
		</select>
		<select name="comfort" value="<%= skill.comfort %>">
  			<option >★★★★★</option>
  			<option >★★★★</option>
  			<option >★★★</option>
			<option >★★</option>
  			<option >★</option>
			<option >none</option>
		</select>
		<button type="submit">Save Skill</button>
	</form>
</body>
</html>